<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>BerretDecaillet Booking 2018</title>
    @RenderSection("Styles", false)    
    <link href="~/Content/materialize/css/materialize.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <!--<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>
    -->
    @RenderSection("topBackgroundImage", required: false)

    <div class="container body-content">
        @RenderBody()
    </div>

    <footer class="page-footer grey darken-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Module 634-1</h5>
                    <p class="grey-text text-lighten-4">This project has been done during the 634-1 course given at HES-SO Valais/Wallis in Sierre.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="@Url.Action("Index","Home")">Home</a></li>    
                        <li><a class="grey-text text-lighten-3" href="@Url.Action("Search","Home")">Advanced search</a></li>
                        <li><a class="grey-text text-lighten-3" href="@Url.Action("Delete","Reservations")">Delete a reservation</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright grey darken-4">
            <div class="container">
                &copy; @DateTime.Now.Year BerretDecaillet Booking
            </div>
        </div>
    </footer>

    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/materialize/materialize.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>