@model IEnumerable<BerretDecailletBookingGUI.Models.Reservation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdReservation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fisrtname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckOut)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdReservation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fisrtname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckOut)
        </td>
        <td>
            
            @Html.ActionLink("Details", "Details", new { id = item.IdReservation }) ||
            @Html.ActionLink("Delete", "Delete", new { id = item.IdReservation })
        </td>
    </tr>
}

</table>
